<div class="navbar">
    <div class="logo" style="font-size: 30px; margin-left: 10px;">Dashboard</div>
    <ul>
  
      <li><a href="#">HOME</a></li>
      <li><a href="/Graph">GRAPH</a></li>
      <li><a href="/predict">PREDICT</a></li>
  
      <li><a href="/customers">CUSTOMERS</a></li>
  
  
    <li><a href="/contact">CONTACTS</a></li>
    
  
    </ul>
    <button class="login-btn">Désabonnements</button>
  </div>



<div class="chart-container">
  <div class="chart-row">
    <div class="chart">
      <h2>Abonnés et Désabonnés</h2>
      <canvas id="subscriptionChart"></canvas>
    </div>
    <div class="chart">
      <h2>Prediction Accuracy</h2>
      <canvas id="predictionChart"></canvas>
      </div>
      <div class="chart">
        <h2>Plan de Messagerie Vocale vs Taux de Churn</h2>
        <canvas id="voiceMailPlan-chart"></canvas>
      </div>
  </div>

  <div class="chart-row">
    <div class="chart">
      <h2>Plan International vs Taux de Churn</h2>
      <canvas id="internationalPlan-chart"></canvas>
    </div>
    <div class="chart">
      <h2>Comparaison des attributs vs Churn</h2>
      <canvas id="attributesVsChurnChart"></canvas>
    </div>
  </div>

  <div class="chart-row">
    <div class="chart">
      <h2>Proportion de Plans Internationaux</h2>
      <canvas id="internationalPlanPieChart"></canvas>
    </div>
    <div class="chart">
      <h2>Prediction</h2>
      <canvas id="predictionChart2"></canvas>
  </div>
    <div class="chart">
      <h2>Répartition des Clients par État</h2>
      <canvas id="statePieChart"></canvas>
    </div>
  </div>

  <div class="chart-row">
    <div class="chart">
      <h2>Subscriber vs Unsubscriber by Total Day Minutes</h2>
  <canvas id="subUnsubChart"></canvas>
    </div>
    <div class="chart">
    <h2>Total Day Calls Distribution</h2>
    <canvas id="totalDayCallsChart"></canvas>

  </div>
  <div class="chart-row">
    <div class="chart">
  <h2>Total Day Charge vs Churn</h2>
  <canvas id="totalDayChargeChart"></canvas>
    </div>
    <div class="chart">
  <h2>Total Evening Minutes vs Churn</h2>
  <canvas id="totalEveMinutesChart"></canvas>
</div>
<div class="chart-row">
  <div class="chart">
  <h2>Total Evening Calls vs Churn</h2>
  <canvas id="totalEveCallsChart"></canvas>
</div>
<div class="chart">
  <h2>Total Evening Charge vs Churn</h2>
  <canvas id="totalEveChargeChart"></canvas>
</div>
</div>

<div class="chart-row">
  <div class="chart">
  <h2>Total Night Minutes vs Churn</h2>
  <canvas id="totalNightMinutesChart"></canvas>
</div>
<div class="chart">
  <h2>Total Night Calls vs Churn</h2>
  <canvas id="totalNightCallsChart"></canvas>
  </div>
    <div class="chart">
  <h2>Total Night Charge vs Churn</h2>
  <canvas id="totalNightChargeChart"></canvas>
  </div>
  </div>

  <div class="chart-row">
  <div class="chart">
  <h2>Total Intl Minutes vs Churn</h2>
  <canvas id="totalIntlMinutesChart"></canvas>
  </div>
  <div class="chart">
  <h2>Total Intl Calls vs Churn</h2>
  <canvas id="totalIntlCallsChart"></canvas>
  </div>

<div class="chart">
  <h2>Total Intl Charge vs Churn</h2>
  <canvas id="totalIntlChargeChart"></canvas>
</div>


</div>
</div>